/P1/P1Q1/dist/
/P1/P1Q3/nbproject/private/
/P1/P1Q3/build/
/P1/P1Q4/nbproject/private/
/P1/P1Q4/build/
/P1/P1Q4/dist/
/P1/P1Q5/nbproject/private/
/P1/P1Q5/build/
/P1/P1Q5/dist/
/P1/P1Q6/nbproject/private/
/P1/P1Q6/build/
/P1/P1Q6/dist/
/P3/P3Q1/nbproject/private/
/P3/P3Q1/build/
/P3/P3Q1/dist/
/P3/P3Q2/nbproject/private/
/P3/P3Q2/build/
/P3/P3Q2/dist/
/P4/P4Q1/nbproject/private/
/P4/P4Q1/build/
/P4/P4Q1/dist/
/P4/P4Q2/nbproject/private/
/P4/P4Q2/dist/
/P4/P4Q2/build/